.texto-negro:focus {
    color: black;
}

.texto-negro {
    color: black;
}

.no-button {
    text-decoration: none;
    background-color: transparent;
    border: none;
}

.alerta-peligro {
    border-radius: 3px;
    padding-top: 10px;
    margin-bottom: 20px;
}

.alerta-peligro li {
    margin-bottom: 10px;
    margin-left: 40px;
}